<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Spentech</span>
    </div>
  </nav><br>
  <!-- <div class="container">
  <h3>How variable pay cuts could impact Indian IT companies</h3>
  <img src="../assets/images/it.jpg" alt="it image">
  <p>India’s IT industry has been in the news recently for re-evaluating employee cost. For e.g., the bonus cuts announced by Wipro and Infosys, setting aside of anniversary wage revision for laterals at TCS, and layoffs at HCL Tech (300 employees on the Microsoft project). The company have been trying to improve cost efficiency by reducing annual hikes, variable payouts.</p>
  </div><hr>
  <div class="container">
    <h3>check latest indian government jobs vecancies.</h3>
    <p>there are 70714 jobs vecancies in india.. check for more info here <span><a href="https://www.indgovtjobs.in/2015/10/Government-Jobs.html" target="_blank">avaialable jobs in indian</a></span>
    click here to get details of all jobs.</p>
  </div> -->
  <div class="container">
  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Boats that stay in the harbor are safe, sweetheart, but that's not what boats were built for.</p>
        <footer class="blockquote-footer">Fredrik Backman<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>BGod doesn't protect people from knives, sweetheart. That's why God gave us other people, so we can protect each other.</p>
        <footer class="blockquote-footer">Fredrik Backman<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Boats that stay in the harbor are safe, sweetheart, but that's not what boats were built for.</p>
        <footer class="blockquote-footer">Fredrik Backman<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Boats that stay in the harbor are safe, sweetheart, but that's not what boats were built for.</p>
        <footer class="blockquote-footer">Fredrik Backman<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Boats that stay in the harbor are safe, sweetheart, but that's not what boats were built for.</p>
        <footer class="blockquote-footer">Fredrik Backman<cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div><br>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
